; This is a comment
# Also a comment
; A section label configparser requires at least one at the top
# This section label is required at the top for proper parsing
[SETTINGS]
##########################################################################
#                            Working Paths                               #
##########################################################################
# Paths can be absolute or relative. Relative paths will be relative to
# the RedEcho executable location

; Directory to search for available modules
modules_path = "./modules"
; Directory to search for module presets
presets_path = "./presets"
; Directory to write log files to
logs_path = "./logs"
; Directory to save module output artifacts
output_path = "./output"
; Directory to store extracted modules during runtime
extracted_path = "./.extracted"
; Directory containing guard rail definitions
guardrails_path = "./guardrails"

##########################################################################
#                            Console Display                             #
##########################################################################
# Various settings that modified how RedEcho looks and displays information

; key value pairs with = or :
; keys are not case sensitive
; leading / trailing whitespace ignored

; Verbosity level for console output; valid values: 1, 2
; 1 : standard output and errors and warnings 
; 2 : Debug output level includes extra details primarily for debugging
verbosity = 1
; Console timestamp format (timestamps in logs are alway epoch)
; See Timestamp formating table at the end of the file
timestamp_format = "%Y-%m-%d %H:%M:%S"
; Enable ansi escape sequences for coloring and formatting console text
enable_ansi = True
; Enables 24-but true color for ansi formatting if it is available
; automatically 'False' if `enable_ansi` is 'False'
enable_truecolor = True



enable_guardrails = True
enable_threading = True
max_thread_count = 0
enable_duplicate_module_threads = False


; multiline value
multiline = This is a long
    string. Do note that configparser
    will preserve the new lines
    as \n.

; pseudo list, must be split on \n in python
fake_list_multi =
    item 1
    item 2
    item 3
; single line list, python must do the splitting on , or whatever character you use
; as a separator
fake_list_single = item 1, item 2, item 3

# Timestamp formatting table
;| Seq  |        Description            | Example |
;--------------------------------------------------
;|  %Y	|  Year with century            | 2026    |
;|  %y	|   Year without century        | 26      |
;|  %m	|   Month (zero-padded)	        | 01      |
;|  %B	|   Full month name	            | January |
;|  %b	|   Abbreviated month name	    | Jan     |
;|  %d	|   Day of month (zero-padded)  | 23      |
;|  %A	|   Full weekday name	        | Friday  |
;|  %a	|   Abbreviated weekday name    | Fri     |
;|  %H	|   Hour (24-hour clock)        | 14      |
;|  %I	|   Hour (12-hour clock)        | 02      |
;|  %p	|   AM or PM	                | PM      |
;|  %M	|   Minute (zero-padded)	    | 09      |
;|  %S	|   Second (zero-padded)        | 45      |
;|  %f	|   Microsecond	                | 000123  |
;|  %z	|   UTC offset (±HHMM)	        | +000    |
;|  %Z	|   Timezone name	            | UTC     |
;|  %j	|   Day of the year (001-366)   | 023     | 